{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    [
      "lodash",
      {
        "id": [
          "lodash",
          "recompose"
        ]
      }
    ],
    "react-simple/babel",
    "syntax-object-rest-spread",
    "transform-object-rest-spread"
  ]
}
