
@import "./vendor/normalize.css"



.layout
    width 600px
    margin-left auto
    margin-right auto

    .wind-graph
        width: 500px;
        height: 200px;
        margin-bottom 3em
        border 1px solid black

        .legend-box {
            display: inline-block;
            width: 10px;
            height: 10px;
            border: 1px solid black;
            margin-right: 2px;
        }
        .legend ul {
            list-style: none;
        }
