
@import "vendor/jquery.nouislider.scss";
@import "media-queries.scss";


html, body, div, svg {
    padding: 0px;
    margin: 0px;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}


html, p, .button, ul, li, div {
    font-family: 'Signika Negative';
}

.limit-text {
    font-family: 'Signika Negative';
    font-size: 11px;
}

h1 {
    font-size: 18pt;
    margin-bottom: 2em;
    img {
        vertical-align: bottom;
    }
}

.title {
    margin-left: 2em !important;
    text-decoration: none;
}
@media only screen and (max-width : 1000px) {
    .title {
        margin-left: 0em !important;
        text-decoration: none;
    }
}

h2 {
    font-size: 14pt;
}

#app {
    margin-top: 0.5em;
}

.slider-wrap {
    width: 100%;
    float: left;
}

.graph {
    text-align: center;
}


    .slider-wrap {
        width: 50%;
        float: left;
    }

.noUi-handle, .noUi-base {
    cursor: pointer;
}

.noUi-handle:active {
    cursor: move;
    background-color: darkgray;
}

.cf { zoom: 1; }
.cf:before,
.cf:after { content: ""; display: table; }
.cf:after { clear: both; }

.weather-boxes .box-wrap {
    margin-bottom: 0.5em;
}


@media only screen and (min-width : 1000px) {
    .weather-boxes {
        margin: 2em;
        .box-wrap {
            margin: 1em;
        }
    }
}

.weather-boxes {
    .box-wrap {
        max-width: 730px;
        float: left;
    }
}

.metar {
    font-family: monospace;
    max-width: 14em;
}

.footer-text {
    color: gray;
    margin-bottom: 1em;
    font-size: 10pt;
}

.zoomable-graph {
    margin-bottom: 2em;
}

.box {
    font-size: 10pt;
    padding: 1em;
    margin: 0;
    text-align: left;

    * {
        text-align: left;
    }

    $top-margin: 10px;
    $left-margin: 40px;
    position: relative;

    .icon, h1, .time {
        opacity: 0.5;
    }

    .icon {
        left: 1em;
        top: $top-margin;
        position: absolute;
        padding-top: $top-margin;
        img {
            height: 22px;
        }
    }

    h1 {
        top: $top-margin;
        margin: 0px;
        padding: 0px;
        margin-left: $left-margin;
    }

    .value {
        margin-top: 1em;
        font-size: 14pt;
    }

}


.slider {
    padding: 1em;
    font-size: 8pt;
    margin: 0.5em;
    text-align: center;
    color: gray;
    border: 1px solid #DDD;
    background-color: rgb(240, 240, 240);

    .name {
        margin-bottom: 1em;
    }
}

.wind-data-source {
    margin-left: 2px;
}



.wind-values {
    margin: 1.5em;
    margin-left: 0;
    font-size: 14pt;
    .item {
        margin: 0.3em;
    }
}


// .weather-data-path.
// weather-data-path windSpeeds

$observations-color: black;
$forecasts-color: gray;

.weather-data-path .observations {
    stroke: $observations-color;
}
.weather-data-path .forecasts {
    stroke: $forecasts-color;
    stroke-dasharray: 10,7;
}

.forecasts .noUi-connect {
    background-color: darkgray;
}

.observations .noUi-connect {
    background-color: darkgray;
}


.point-descriptions {
    margin: 0 auto;
    text-align: left;
    width: 12em;
    position: relative;
    right: -3.5em;
    p {
        text-align: left;
        font-size: 8pt;
        // border: 1px solid black;
    }
}

.about {
    font-size: 10pt;
}



path.domain {
    visibility: hidden;
}


@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes bounce {

    25% {
        -webkit-transform: rotate(25deg);
    }

    50% {
        -webkit-transform: rotate(0deg);
    }

    75% {
        -webkit-transform: rotate(-25deg);
    }

}

.spin {
    -webkit-animation: spin 0.8s linear infinite;
}

.swing {
    -webkit-animation: bounce 1s linear infinite;
}
