
@import "vendor/jquery.nouislider.scss";
@import "media-queries.scss";


html, body, div, svg {
    padding: 0px;
    margin: 0px;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

html, p, .button, ul, li, div {
    font-family: 'Signika Negative';
    text-align: center;
}

.limit-text {
    font-family: 'Signika Negative';
    font-size: 11px;
}

h1 {
    font-size: 18pt;
    margin-bottom: 2em;
}

h2 {
    font-size: 14pt;
}

#app {
    margin-top: 0.5em;
}

.slider-wrap {
    width: 100%;
    float: left;
}

// .box-wrap {
//     width: 50%;
//     float: left;
// }

.graph {
    text-align: center;
}

@media #{$medium-up} {
    * {
        color: red;
    }
}

    .slider-wrap {
        width: 50%;
        float: left;
    }

.noUi-handle, .noUi-base {
    cursor: pointer;
}

.noUi-handle:active {
    cursor: move;
    background-color: darkgray;
}

.cf { zoom: 1; }
.cf:before,
.cf:after { content: ""; display: table; }
.cf:after { clear: both; }

.weather-boxes {
    margin-bottom: 3em;
    max-width: 25em;
    margin: 0 auto;
    margin-bottom: 2em;
}

.box {
    font-size: 10pt;
    padding: 1em;
    margin: 0.5em;
    text-align: left;

    * {
        text-align: left;
    }

    $top-margin: 10px;
    $left-margin: 40px;
    position: relative;

    .icon, h1, .time {
        opacity: 0.5;
        // border-top: 1px solid red;
    }

    .icon {
        left: 1em;
        top: $top-margin;
        position: absolute;
        padding-top: $top-margin;
        img {
            height: 22px;
        }
    }

    h1 {
        top: $top-margin;
        margin: 0px;
        padding: 0px;
        margin-left: $left-margin;
    }

    .value {
        margin-top: 1em;
        margin-left: $left-margin;
    }

    .time {
        position: absolute;
        right: 0px;
        bottom: 0px;
    }

    // .text {
    //     left: $icon-width;
    //     right: 1em;
    //     border: 1px solid green;
    // }

    border-top: 1px solid #DDD;

}

.weather-boxes .box-wrap:last-child {
    border-bottom: 1px solid #DDD;
}

.slider {
    padding: 1em;
    font-size: 8pt;
    margin: 0.5em;
    text-align: center;
    color: gray;
    border: 1px solid #DDD;
    background-color: rgb(240, 240, 240);

    .name {
        margin-bottom: 1em;
    }
}


// .weather-data-path.
// weather-data-path windSpeeds

$observations-color: black;
$forecasts-color: gray;

.weather-data-path .observations {
    stroke: $observations-color;
}
.weather-data-path .forecasts {
    stroke: $forecasts-color;
    stroke-dasharray: 10,7;
}

.forecasts .noUi-connect {
    background-color: darkgray;
}

.observations .noUi-connect {
    background-color: darkgray;
}


.point-descriptions {
    margin: 0 auto;
    text-align: left;
    width: 12em;
    position: relative;
    right: -3.5em;
    p {
        text-align: left;
        font-size: 8pt;
        // border: 1px solid black;
    }
}

.locations {
    font-size: 9pt;
    margin: 0 auto;
    margin-top: 15em;
    margin-bottom: 5em;
    width: 25em;
    text-align: center;

    table {
        text-align: left;
    }

    .location {
        margin-top: 1em;
        margin-bottom: 1em;
    }

}

