.weather {
  border-top: 1px solid #fff;
}
.weather .description {
  text-align: right;
}
.weather h2 {
  font-size: 8pt;
}
.weather img {
  height: 60px;
  vertical-align: middle;
}
.sky {
  width: 100%;
  background-color: #6daaff;
  padding: 0px;
  padding-top: 50px;
  margin: 0px;
}
footer {
  border-top: 10px solid #30b800;
  color: #fff;
  background-color: #705017;
  bottom: 0px;
  padding-bottom: 5em;
}
.app-info {
  padding-top: 50px;
}
.app-info,
.weather,
header {
  font-size: 8pt;
  font-family: monospace;
  color: #fff;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.content {
  margin: 1em;
}
.clearfix {
  clear: both;
}
.source {
  margin-top: 1em;
}
.weather.ground .description {
  text-align: right;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 10pt;
}
.weather.ground .description .wind,
.weather.ground .description .gust,
.weather.ground .description .direction {
  margin: 1em;
}
.weather.ground .description .wind .value,
.weather.ground .description .gust .value,
.weather.ground .description .direction .value,
.weather.ground .description .wind .arrow,
.weather.ground .description .gust .arrow,
.weather.ground .description .direction .arrow {
  font-size: 18pt;
}
.weather.ground .description .arrow {
  display: inline-block;
  -webkit-transform: rotate(45deg);
}
.weather.ground .description .license-info img {
  vertical-align: middle;
  height: 10pt;
}
body {
  background-color: #6daaff;
}
