

.weather
    border-top 1px solid white
    .description
        text-align right
    h2
        font-size 8pt
    img
        height 60px
        vertical-align middle

.sky
    width 100%
    background-color #6daaff
    padding 0px
    padding-top 50px
    margin 0px

footer
    border-top 10px solid #30b800
    color white
    background-color #705017
    bottom 0px
    padding-bottom 5em


.app-info
    padding-top 50px

.app-info, .weather, header
    font-size 8pt
    font-family monospace
    color white
    width 100%
    max-width 500px
    margin 0 auto

.content
    margin 1em

.clearfix
    clear both

.source
    margin-top 1em

.weather.ground .description
    text-align right
    padding-top 2em
    padding-bottom 2em
    .wind,.gust,.direction
        margin 1em
        .value,.arrow
            font-size 18pt
    .arrow
        display inline-block
        -webkit-transform: rotate(45deg);


    font-size 10pt
    .license-info
        img
            vertical-align middle
            height 10pt

body
    background-color #6daaff
