

.weather
    border-top 1px solid white
    .description
        text-align right
    h2
        font-size 8pt

.sky
    width 100%
    background-color: #006bff
    padding 0px
    padding-top 50px
    margin 0px

footer
    border-top 10px solid #30b800
    padding-top 50px
    color white
    background-color #705017
    bottom 0px

.app-info
    padding-top 50px

.app-info, .weather, header
    font-size 8pt
    font-family monospace
    color white
    width 100%
    max-width 500px
    margin 0 auto

.content
    margin 1em

.clearfix
    clear both

.weather.ground .description
    .wind,.gust
        float left
        margin 1em
        .value
            font-size 20pt


    font-size 10pt
    .license-info
        img
            vertical-align middle
            height 10pt

body
    background-color: #006bff
